click>=8.1.2
typing>=3.7.4.3
pyyaml>=6.0
ipython>=8.2.0
ujson>=5.2.0
contextvars>=2.4
protobuf>=3.20.1
Jinja2>=3.1.1

pytest>=7.1.2
pytest-cov>=3.0.0
pytest-mock>=3.7.0
grpcio>=1.44.0
grpcio-tools>=1.44.0
grpcio-status>=1.44.0
grpcio-reflection>=1.44.0

confluent-kafka>=1.8.2
gunicorn>=20.1.0
flask>=2.1.2

redis>=4.2.2
pymysql>=1.0.2
celery>=5.2.6
sqlalchemy>=1.4.36
